<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
        <suite name="Customer-API-Automation-Suite" parallel="none">
<test name="Customer-API-Tests">
    <classes>
        <class
                name="com.fs.cust.testrunner.Customer_RunnerTest"/>
    </classes>
    </test>
</suite>